[connection]
session = "eyRoX2JhY2tlbmR1ZTYwOGY4OGY1YzBmZjY3OGFjNTdiYjI0MjgiLCJpZCI6MTY2MjMwMywiZW1haWwiOiJqYW1lc2h3Y0BnbWFpbC5jb20iLCJ1c2VybmFtZSI6InZ1bHBpYyIsInVzZXJfc2x1ZyI6InZ1bHBpYyIsImF2YXRhciI6Imh0dHBzOi8vd3d3LmdyYXZhdGFyLmNvbS9hdmF0YXIvZTczY2UzYjVkNjJlYzYyZDdlNjYyYmJjYWFmZjI1NTUucG5nP3M9MjAwIiwidGltZXN0YW1wIjoiMjAyMC0wMS0yMSAwMjo1MjozMS4zOTk0MTcrMDA6MDAiLCJJUCI6IjEuMTcxLjU0Ljc3IiwiSURFTlRJVFkiOiJkOTM5MDgwYjExNGE3Yjk4ODNmNjQ1OTQ3N2RjZTIxYSIsIl9zZXNzaW9uX2V4cGlyeSI6MTIwOTYwMH0.rSBRjsj5eU7s_8wHZFytVRpQlEl5GVATb-lVQHE6Sq0"
csrftoken = "krReU9pXCjHKImi4ESjIGHI9i0nl"